
pipeline/databases/temperatures.sql
pipeline/databases/tv_shows.sql
pipeline/databases/hbtn_0d_tvshows.sql
pipeline/databases/hbtn_0d_tvshows_rate.sql
pipeline/databases/metal_bands.sql
math/multivariate_prob/__pycache__/multinormal.cpython-314.pyc
__pycache__/
/.playwright-mcp
unsupervised_learning/dimensionality_reduction/mnist2500_X.txt
unsupervised_learning/dimensionality_reduction/mnist2500_labels.txt
/supervised_learning/classification/data
my-venv/
tf-venv/
data/user/logs/deeptutor.jsonl
.gitignore
data/user/settings/integrations.json
data/user/settings/model_catalog.json
supervised_learning/error_analysis/confusion.npz
supervised_learning/error_analysis/MNIST.npz
